.HeroContainer {
width: 100%;
height: 34rem;
background: url('../assets/hero-background.png') no-repeat center;
background-size: cover;
display: flex;
align-items: center;
justify-content: center;
}

.HeroContent {
display: flex;
align-items: center;
justify-content: space-between;
gap: 3.5rem;
}

.HeroContent > div {
flex: 1;
}


.HeroContent > div.imageContainer img {
width: 60%;
margin-left: 150px;
}

@media (max-width: 700px) {
.HeroContent {
    gap: 1rem;
    margin-top: 20rem;
    flex-direction: column-reverse;
}

.HeroContent > img {
    width: 100%;
}

.BenefitsContainer {
    grid-template-columns: 1fr;
    margin-top: 3rem;
    font-size: 1.1rem;
}
}

.HeroTitle {
margin-bottom: 1rem;
}

.BenefitsContainer {
width: 100%;
display: grid;
grid-template-columns: 1fr 1fr;
row-gap: 1.25rem;
}

.RegularText {
color: var(--subtitle);
}

.RegularText[size='l'] {
font-size: 2rem;
}

.RegularText[size='l']::before {
content: '';
display: block;
height: 1px;
width: 4rem;
background-color: currentColor;
margin-bottom: 0.5rem;
font-family: 'Roboto';
}

.HeroTitle {
    color: #272221;
    line-height: 130%;
    font-size: 70px;
    font-weight: 600;
    background-image: linear-gradient(to left, #553c9a, #b393d3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

  

@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
.wrapper.two {
font-size: 6rem;
font-family: "Play", sans-serif;
}
.neon h1 {
    margin: 1rem auto;
    animation: neon 1s ease infinite;
}
@keyframes neon {
    0%,
    100% {
        text-shadow: 0 0 10px #ef00e3a8, 0 0 20px #ef00e3a8, 0 0 20px #ef00e3a8, 0 0 20px #ef00e3a8, 0 0 2px #fed128, 2px 2px 2px #806914;
        color: #f5efcb;
    }
    50% {
        text-shadow: 0 0 2px #800e0b, 0 0 5px #800e0b, 0 0 5px #800e0b, 0 0 5px #800e0b, 0 0 2px #800e0b, 4px 4px 2px #40340a;
        color: #eda0d3;
    }
}
.productsBar h1 {
    text-align:center; font-size:50px; text-transform:uppercase; color:#222; letter-spacing:1px;
    font-family:"Playfair Display", serif; font-weight:400;
  }
  .productsBar h1 span {
    margin-top: 5px;
      font-size:15px; color:#444; word-spacing:1px; font-weight:normal; letter-spacing:2px;
      text-transform: uppercase; font-family:"Raleway", sans-serif; font-weight:500;
  
      display: grid;
      grid-template-columns: 1fr max-content 1fr;
      grid-template-rows: 27px 0;
      grid-gap: 20px;
      align-items: center;
  }
  
  .productsBar h1 span:after,.productsBar h1 span:before {
      content: " ";
      display: block;
      border-bottom: 1px solid #ccc;
      border-top: 1px solid #ccc;
      height: 5px;
    background-color:#f8f8f8;
  }
.cardDisplay{
    width: 60%;
}

/* CSS */
.button-33 {
  background-color: #ef00e3a8;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 30px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
.products-wrapper{
    width: 80%;
}
.category-wrapper{
    width: 80%;
}